<div class="doctor-view">

  <div class="alert alert-primary mb-3 text-center" role="alert">
    <strong>قائمة العملاء </strong>
  </div>

<button type="button" class="btn btn-outline-success mb-3" (click)="AddDoctor()">إضافة عميل </button>
  <table id="tbl" class="table table-light rounded mb-3 ">
    <thead>
      <tr class="bg-dark text-warning">
        <th>اسم العميل </th>
        <th> البريد الالكتروني</th>
        <th> العنوان</th>
        <th> الهاتف</th>
        <!-- <th> الصوره </th> -->
        <th>تعديل</th>
        <th>

          <input  type="checkbox"     class="ckheader" name="Input"   (change)="SelectAll()" >
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of doctors">
        <td scope="row">{{item.doctorUserName}}</td>
        <td>{{item.doctorEmail}}</td>
        <td>{{item.doctorLocation}}</td>
        <td>{{item.doctorPhone}}</td>
        <!-- <td>{{item.doctorPicure}}</td> -->
        <td>
          <!-- <a href="EditDoctor(item.doctorId)">تعديل</a> -->
          <button type="button" (click)="EditDoctor(item.doctorsId)" class="btn btn-primary">تعديل</button>
        </td>

        <td>
          <div>
            <input  type="checkbox"  class="ckitem"  value="{{item.doctorsId}}" >
          </div>
        </td>

      </tr>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modelId"  (click)="DeleteCount()" [disabled]="!IsDelete()">
      حــذف
    </button>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">تنبيه حذف</h5>
          </div>
          <div class="modal-body">
                    هل تريد حذف {{num}}  فعلا؟؟
          </div>
          <div class="modal-footer">
              <button  id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">تراجع</button>
              <button type="button" class="btn btn-danger" (click)="DeleteConfirm()">تأكيد الحذف</button>
          </div>
      </div>
  </div>
</div>

