<!-- Footer -->
<footer class=" text-center  " style="color: azure; background-color: rgb(97, 151, 161);" >
  <!-- Grid container -->
  <div class="container p-2">
    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-facebook-f"></i
      ></a>

      <!-- email -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-envelope-square"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-phone"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-whatsapp"></i
      ></a>

    </section>
    <!-- Section: Social media -->






    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-2 mb-md-0">


              <a href="#!" class="text-white" style="text-decoration: none;" >حجز موعد في مستشفى</a>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-2 mb-md-0">


              <a href="#!" class="text-white" style="text-decoration: none;"> تحدث مع طبيبك الان</a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-2 mb-md-0">


              <a href="#!" class="text-white" style="text-decoration: none;">مجانا ارسل استشارتك لطبيب  </a>

        </div>


        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    حقوق النشر لدى :
    <a class="text-white" href="https://tabibinet.blogspot.com/">tabibinet.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
