<div class="container py-4">

  <!--  قسم المقاله -->
    <div class=" row">
      <div class="  col-md-8  mx-auto  ">
        <div class="card mb-3 bg-white   shadow-sm"  >
         <img src="assets/imges/booking.jpg"  class="card-img-top" alt=""  style="height: 120px;" >
            <div class="card-body">
                <h5 class="card-title">مقلات</h5>
                <p class="card-text">كيفية الوقاية من فيروس الكبد </p>
             </div>
            </div>
          </div>

    </div>
     <!--  قسم المقاله -->
     <div class=" row">
      <div class="  col-md-8  mx-auto  ">
        <div class="card mb-3 bg-white   shadow-sm"  >
         <img src="assets/imges/booking.jpg"  class="card-img-top" alt=""  style="height: 120px;" >
            <div class="card-body">
                <h5 class="card-title">مقلات</h5>
                <p class="card-text">كيفية الوقاية من فيروس الكبد </p>
             </div>
            </div>
          </div>

    </div>


   <!--  قسم المقاله -->
   <div class=" row">
    <div class="  col-md-8  mx-auto  ">
      <div class="card mb-3 bg-white   shadow-sm"  >
       <img src="assets/imges/booking.jpg"  class="card-img-top" alt=""  style="height: 120px;" >
          <div class="card-body">
              <h5 class="card-title">مقلات</h5>
              <p class="card-text">كيفية الوقاية من فيروس الكبد </p>
           </div>
          </div>
        </div>

  </div>
   <!--  قسم المقاله -->
   <div class=" row">
    <div class="  col-md-8  mx-auto  ">
      <div class="card mb-3 bg-white   shadow-sm"  >
       <img src="assets/imges/images (7).png"  class="card-img-top" alt=""  style="height: 120px;" >
          <div class="card-body">
              <h5 class="card-title">مقلات</h5>
              <p class="card-text">كيفية الوقاية من فيروس الكبد </p>
           </div>
          </div>
        </div>

  </div>
   <!--  قسم المقاله -->
   <div class=" row">
    <div class="  col-md-8  mx-auto  ">
      <div class="card mb-3 bg-white   shadow-sm"  >
       <img src="assets/imges/booking.jpg"  class="card-img-top" alt=""  style="height: 120px;" >
          <div class="card-body">
              <h5 class="card-title">مقلات</h5>
              <p class="card-text">كيفية الوقاية من فيروس الكبد </p>
           </div>
          </div>
        </div>

  </div>


  </div>
