<div class="off-menu-wrapper  ">

  <div class="inner-wrapper  ">

      <section class="container merg ">

          <div class="row block-content inside-container ">
              <article class="columns col-8 col-md-12 col-sm-12 ">
                  <div id="article-box" class="article-box ">
                      <div class="article clearfix " role="article" itemscope="" itemtype="https://schema.org/Article">
                          <h1 class="title" itemprop="">مظاهر الرعاية الصحية</h1>
                          <div class="article-img" itemprop="image">
                              <img id="articleimagediv" title="مظاهر الرعاية الصحية" src="assets/imges/in_hospital.jpg"
                                  itemprop="image" alt="مظاهر الرعاية الصحية" width="614" height="300">
                          </div>
                          <div class="article-body row" itemprop="articleBody">

                              <ul id="related-list1" class="related-articles-list1 columns col-lg-3 col-md-3">
                                  <li>
                                      <span class="icon"></span>
                                      ذات صلة </li>
                                  <li class="hidden-mobile"><a href="">
                                          مظاهر عناية الوالدين بالطفل</a></li>
                                  <li class="hidden-mobile"><a href="">
                                          مظاهر الصحة النفسية</a></li>

                                  <li><a href="9">
                                          مظاهر الإحسان إلى ذوي القربى</a></li>
                              </ul>

                              <div class="columns col-lg-9 col-md-9 col-sm-12 left">
                                  <div class="article-text">

                                      <div id="mw-content-text" lang="ar" dir="rtl" class="mw-content-rtl">
                                          <div id="toc" class="toc">
                                              <div id="toctitle">
                                                  <h2>محتويات</h2>
                                              </div>
                                              <ul>
                                                  <li class="toclevel-1 tocsection-1"><a href=""><span
                                                              class="tocnumber">١</span> <span class="toctext"><b>الرعاية
                                                                  الصحية</b></span></a></li>
                                                  <li class="toclevel-1 tocsection-2"><a href="%9"><span
                                                              class="tocnumber">٢</span> <span class="toctext"><b>مظاهر
                                                                  الرعاية الصحية</b></span></a></li>
                                                  <li class="toclevel-1 tocsection-3"><a href=""><span
                                                              class="tocnumber">٣</span> <span class="toctext"><b>مظاهر
                                                                  صحة الفرد</b></span></a></li>

                                              </ul>
                                          </div>
                                          <div id="Leaderboard" class="ads-top"></div>

                                          <h2><span class="mw-headline" id=".D8.A"><b>الرعاية
                                                      الصحية</b></span></h2>
                                          <p>تشتمل الرعاية الصحية على مجموعة محددة من الخدمات الأساسية التي توفّر
                                              علاجاً للمشاكل الصحية إضافة إلى الوقاية من الأمراض، وتحسين السلوكات
                                              الصحية، توفرها الدولة للعناية بصحة المواطنين فتقوم بذلك المؤسسات في
                                              القطاع العام أو القطاع الخاص، وهي تتضمّن كل المستشفيات، والصيدليات،
                                              والعيادات، وتعمل فيها الكوارد البشرية مثل: الأطباء، والممرضين، وكلّ
                                              من يعمل في المجال الطبّي أو البحوث الطبية.<sup id="cite_ref-rJnsJnILsp_1-0"
                                                  class="reference"><a href="https://mawdoo3.com/%D9%85%D8%B8%D8%A7%D9%87%D8%B1_%D8%A7%D9%84%D8%B1%D8%B9%D8%A7%D9%8A%D8%A9_%D8%A7%D9%84%D8%B5%D8%AD%D9%8A%D8%A9#cite_note-rJnsJnILsp-1">[١]</a></sup></p>
                                          <p><br></p>
                                          <h2><span class="mw-headline" id=".D9.85.D8.B8.D8.A7.D9.87.D8.B1_.D8.A7.D9.84.D8.B1.D8.B9.D8.A7.D9.8A.D8.A9_.D8.A7.D9.84.D8.B5.D8.AD.D9.8A.D8.A9"><b>مظاهر
                                                      الرعاية الصحية</b></span></h2>
                                          <p>حددت منظمة الصحة العالمية عدّة متطلبات للصحة كالتالي:<sup id="cite_ref-6vsywKnHLw_2-0"
                                                  class="reference"><a href="https://mawdoo3.com/%D9%85%D8%B8%D8%A7%D9%87%D8%B1_%D8%A7%D9%84%D8%B1%D8%B9%D8%A7%D9%8A%D8%A9_%D8%A7%D9%84%D8%B5%D8%AD%D9%8A%D8%A9#cite_note-6vsywKnHLw-2">[٢]</a></sup></p>
                                          <ul>
                                              <li> <b>الأمان والسلم:</b> إنّ شعور الفرد بالأمان من الأساسيات التي
                                                  لا بدّ من توفّرها ليحيا الشخص حياة صحية تخلو من <a href="https://mawdoo3.com/%D8%AA%D8%B9%D8%B1%D9%8A%D9%81_%D8%A7%D9%84%D8%B6%D8%BA%D9%88%D8%B7_%D8%A7%D9%84%D9%86%D9%81%D8%B3%D9%8A%D8%A9"
                                                      title="تعريف الضغوط النفسية">الضغوطات النفسية</a>،
                                                  والإصابات.</li>
                                              <li> <b>المسكن:</b>يعتبر من ضروريات الحفاظ على صحّة أفراد الأسرة
                                                  الواحدة.</li>
                                              <li> <b>التعليم:</b> يساعد التعليم على زيادة وعي الأفراد بالصحة
                                                  العامة وطرق المحافظة عليها.</li>
                                              <li> <b>الغذاء:</b> التغذية السليمة التي تتضمن تناول وجبات غذائية
                                                  متكاملة ومتوازنة تحتوي على كل العناصر الغذائية من أساسيات
                                                  الحفاظ على الصحة، وتجنّب الكثير من الأمراض.</li>
                                              <li> <b>الدخل:</b> حيث إنّ <a href="https://mawdoo3.com/%D9%85%D8%A7_%D9%87%D9%88_%D8%A7%D9%84%D9%81%D9%82%D8%B1"
                                                      title="ما هو الفقر">الفقر</a> من العوامل التي تؤثّر سلباً
                                                  على الصحة الجسدية، والنفسية، والاجتماعية، كما أن توفر الدخل
                                                  المناسب يساعد على تلبية الاحتياجات الأساسية للأفراد.</li>
                                              <li> <b>استقرار البيئة:</b> تتضرّر الصحّة العامة للأفراد إذا ما حدث
                                                  أيّ خلل بيئي مثل: تشكّل الأمطار الحمضية، واتساع ثقب الأوزون، أو
                                                  كوارث طبيعية كالفيضانات.</li>
                                              <li> <b>استدامة الموارد:</b> حيث إنّ توافر الموارد بمختلف أنواعها:
                                                  الطبيعية، والبشرية، والمادّية، وعدم انقطاعها يساعد في المحافظة
                                                  على الصحّة.</li>
                                              <li> <b>العدالة الاجتماعيّة والمساواة:</b> لا بدّ من المساواة بين
                                                  كلّ الأفراد في كل مجالات الحياة وإعطائهم كافّة الحقوق، والصحة
                                                  من الحقوق التي يجب أن يتمتّع بها كل شخص.</li>
                                          </ul>
                                          <div id="MPU" class="ads-side"></div>
                                          <p><br>
                                              يتّضح من متطلّبات الصحة التي سبق ذكرها أن مسؤولية توفيرها لا تقع
                                              على الجهاز الطبي فحسب، فالصحّة لا تؤخذ بوصفة طبّية، بل تحتاج إلى
                                              تضافر جهود كل قطاعات المجتمع، مثل: القطاع الصحّي، والبيئي،
                                              والتربويّ، والاجتماعي، والإنتاجي، وغيرها.
                                          </p>
                                          <p><br></p>
                                          <h2><span class="mw-headline" id=".D9.85.D8.B8.D8.A7.D9.87.D8.B1_.D8.B5.D8.AD.D8.A9_.D8.A7.D9.84.D9.81.D8.B1.D8.AF"><b>مظاهر
                                                      صحة الفرد</b></span></h2>
                                          <p>هناك عدّة مظاهر تدلّ على أنّ الفرد يتمتّع بصحة جيّدة، ومن ضمنها، أن
                                              يكون الوجه صافياً ومتورّداً، وأن يكون نشيطاً من الناحية البدنية،
                                              ومنفتحاً من الناحية الذهنيّة، وعنده القدرة على التحكّم بالضغوط التي
                                              تواجهه بشكل سليم، وفي الختام يمكن القول بأنّ <a href="https://mawdoo3.com/%D9%83%D9%84_%D9%85%D8%A7_%D9%8A%D8%B3%D8%A7%D8%B9%D8%AF_%D8%B9%D9%84%D9%89_%D8%A7%D9%83%D8%AA%D8%B3%D8%A7%D8%A8_%D8%A7%D9%84%D8%B5%D8%AD%D8%A9_%D8%A7%D9%84%D8%AC%D9%8A%D8%AF%D8%A9"
                                                  title="كل ما يساعد على اكتساب الصحة الجيدة">الصحة</a> تختص بعدم
                                              ثبوتها وهي حالة متغيّرة طول الوقت، غير أنّ سلوكات كلّ فرد هي التي
                                              تحدد طبيعة الحالة الصحّية له في المستقبل، فالحفاظ على تناول غذاء
                                              صحّي، وممارسة الرياضة بشكل يوميّ من الأمثلة على السلوكيات التي
                                              تحافظ على حالة صحّية جيّدة.<sup id="cite_ref-GGntpoEpGL_3-0" class="reference"><a
                                                      href="https://mawdoo3.com/%D9%85%D8%B8%D8%A7%D9%87%D8%B1_%D8%A7%D9%84%D8%B1%D8%B9%D8%A7%D9%8A%D8%A9_%D8%A7%D9%84%D8%B5%D8%AD%D9%8A%D8%A9#cite_note-GGntpoEpGL-3">[٣]</a></sup></p>

                                      </div>

                                      <!-- End Feedback Feature -->

                                      <!-- Start [Feedback Feature - Yes Option] Popup -->
                                      <div class="popup-container" id="feedback-yes-option"> <a class="close"
                                              href="https://mawdoo3.com/%D9%85%D8%B8%D8%A7%D9%87%D8%B1_%D8%A7%D9%84%D8%B1%D8%B9%D8%A7%D9%8A%D8%A9_%D8%A7%D9%84%D8%B5%D8%AD%D9%8A%D8%A9#">X</a>

                                      </div>
                                  </div>
                              </div>
                          </div>


                      </div>
                  </div>

              </article>

          </div>
      </section>


  </div>
</div>
