<nav class="navbar navbar-expand-lg navbar-light  main" style="background-color: #ecf3f0;">
  <a class="navbar-brand" routerLink="">
    <img src="assets/imges/logo.jpg" alt="" style="width: 90 px; height: 40px;">
  </a>




  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>





  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false" aria-haspopup="true">
          خدمات طبيبي نت
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" >احجز موعد عن بعد اون لاين</a></li>
          <li><a class="dropdown-item" >حجز جلسة طبية اون لاين </a></li>
          <li><a class="dropdown-item" >استشارة طبية مستعجلة</a></li>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu ar" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item" routerLink="chooseRegister">تسجيل</a>
          <a class="dropdown-item" routerLink="Login">دخول</a>
          <a class="dropdown-item" routerLink="Doctor">الدكتور</a>
          <a class="dropdown-item" routerLink="AddDapertment">التخصصات</a>
          <a class="dropdown-item" routerLink="HospitalView">حجز موعد</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
       >
          <i class="fa fa-user-circle ml-2"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="" *ngIf="">
            <a class="dropdown-item" routerLink="register">التسجيل</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="login">الدخول</a>
          </div>
          <div class="" *ngIf="">
            <a class="dropdown-item" href="#">تسجيل الخروج</a>
          </div>

        </div>
      </li>
    </ul>


  </div>
  <button style="float: left; margin-left: 10px;" class="btn btn-success" type="submit">تسجيل الدخول</button>





</nav>


<!-- <nav class="navbar navbar-expand-md navbar-light bg-light ar">
  <a class="navbar-brand" routerL=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="Home">الرئيسية <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="AddSplication">اطباء المستشفي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Message">حجوزات المستشفي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ViewBookingHospital">حجوزات </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ViewBookinPatient">حجوزاتي المريض  </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="controlPanl">لوحة التحكم </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="MySettings">الاعدادات </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu ar" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item" routerLink="chooseRegister">تسجيل</a>
          <a class="dropdown-item" routerLink="Logins">دخول</a>
          <a class="dropdown-item" routerLink="AddDoctors">الدكتور</a>
          <a class="dropdown-item" routerLink="Splications">التخصصات</a>
          <a class="dropdown-item" routerLink="HospitalView">حجز موعد</a>

        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

     <button type="button" class="btn btn-primary mr-auto" data-toggle="modal" data-target="#exampleModalCenter">
            تسجيل الدخول
          </button>
  </div>
</nav> -->



<!-- <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Brand<b>Name</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<form class="navbar-form form-inline">
			<div class="input-group search-box">
				<input type="text" id="search" class="form-control" placeholder="Search here...">
				<span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
			</div>
		</form>
		<div class="navbar-nav ml-auto">
			<a href="#" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Home</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Projects</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-users"></i><span>Team</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-pie-chart"></i><span>Reports</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Careers</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Messages</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-bell"></i><span>Notifications</span></a>
			<div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar"> Antonio Moreno <b class="caret"></b></a>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
					<a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
					<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
					<div class="divider dropdown-divider"></div>
					<a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
				</div>
			</div>
		</div>
	</div>
</nav> -->
