
  <div class="container py-5 mt-5 ar">

    <div class="row">

  <div class="col-lg-8 mx-auto">

  <div class="bg-white rounded-lg shadow-lg p-5">

    <div class="row">
      <a class="navbar-brand" routerLink="">
        <img src="assets/imges/logo.jpg" alt="" style="width: 90 px; height: 40px;">
      </a>

    </div>
    <h4>انضم الينا</h4>
    <div>

    <div class="from-control mt-4 pr-5" >
      <a   (click)="userRegisterClick()">
        <div class="  black-color">
        <span class="">
        <img class="" src="assets/imges/login2.jpg" height="70px" alt="موقع الطبي للمعلومات الطبية والصحية | أمراض وعلاج وأدوية">
        </span>
        تسجيل مستخدم جديد </div>
        </a>
    </div>
    <div class="from-control pr-5 mt-4">
      <a   (click)="doctorRegisterClick()">
        <div class="   black-color">
        <span class=" " >
        <img class="join-icon-dir" src="assets/imges/doctoLogin.jpg" height="70px" alt="موقع الطبي للمعلومات الطبية والصحية | أمراض وعلاج وأدوية">
        </span>
        تسجيل طبيب جديد  </div>
        </a>

    </div>


    </div>
</div>
</div>
</div>

</div>
<!-- ggg -->
