<div class="container py-4 mt-4 ">
  <div class="row ">
    <div class="col-lg-12 mx-auto  ">
      <div class=" shadow-sm ">
        <div class=" card1">
          <div class="card-body">
            <div class="row bg-white">
              <div class="col-lg-3">
                <img src="assets/imges/icon.png" class="rounded img-thumbnail">
              </div>
              <div class="col-lg-9 p-0">
                <h4 class="card-title mrightname"> الدكتور أحمد باشا</h4>
                <div class="row">
                  <div class="col-lg-6">
                    <p class="card-text mrightname mt-2 ">استاذ جامعي تخصص نساء وتوليد</p>
                  </div>
                  <div class="col-lg-6">
                    <div class="mright mt-2  ">
                      <div class="value">
                        <i class="fa fa-star w" style="color: goldenrod;" aria-hidden="false"></i>

                        <i class="fa fa-star w" style="color: goldenrod;" aria-hidden="false"></i>
                        <i class="fa fa-star w" style="color: goldenrod;" aria-hidden="false"></i>
                        <i class="fa fa-star w" style="color: goldenrod;" aria-hidden="false"></i>
                        <i class="fa fa-star w" style="color: goldenrod;" aria-hidden="false"></i>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="alert alert-warning mr-2" role="alert">
                <!-- <strong>warning</strong> -->
                <p class="card-text ">هذا الطبيب لايستقبل حجوزات موقت </p>
              </div>


            </div>
            <div class="row ">
              <div class="col-lg-12 pb-4">
                <p class="card-text pt-4 ">لاتوجد معلومات</p>
                <hr>
                <div class="row">
                  <div class="col-lg-6">
                    <p class="card-text ">رقم الهاتف </p>


                  </div>
                  <div class="col-lg-6">
                    <p class="card-text ">العنوان </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <!--  حجز -->
            <div class="row py-4">
              <div class="col-md-4 mr-5 ">
                <button  type="button"class="  btn btn-success btn-block  "  > احجز</button>


              </div>

              <div class="col-md-4 mx-auto">
                <button  type="button"class="  btn btn-success btn-block   "  > تواصل</button>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  المعلومات الاضافيه عن الطبيب  -->
  <div class="  py-4">
    <div class="row">
      <div class="col-lg-12 mx-auto ">
        <div class="bg-white  shadow-sm  " style="min-height: 350px;">


          <ul role="tablist" class="nav bg-light nav-pills  nav-fill mb-5  ">
            <li class="nav-item p-2">
              <a data-toggle="pill" href="#nav-add-Splication" class="nav-link active ">
                <i class="fa fa-credit-card"></i>
                معلومات عن الطبيب
              </a>
            </li>
            <li class="nav-item p-2">
              <a data-toggle="pill" href="#nav-update-Splication" class="nav-link ">
                <i class="fa fa-credit-card"></i>
                النشاطات
              </a>
            </li>
            <li class="nav-item p-2">
              <a data-toggle="pill" href="#nav-update-Splication" class="nav-link ">
                <i class="fa fa-credit-card"></i>
                التقييمات
              </a>
            </li>
          </ul>

          <div class="tab-content">

            <div id="nav-add-Splication" class="tab-pane fade show active col-lg-8">

              <!-- معلومات الطبيب     -->

              <ul>
                <li>خبرات العمل </li>
                <li> خدمات الطبيب </li>
                <li> الشهادات العلمية</li>
                <li> ساعات العمل</li>
                <li> عناوين العمل </li>
              </ul>
            </div>

            <!-- النشطات   -->
            <div id="nav-update-Splication" class="tab-pane fade">
              <!-- <table class="table table-bordered table-hover  " >

                             <thead>
                               <th>القسم  </th>
                               <th>التخصص </th>


                             </thead>
                             <tbody>
                               <tr >


                               </tr>
                             <tr></tr></tbody>
                             </table> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
