<!-- <div style="padding: 10;" >

  <div style="width:530px;height:300px;float: left; margin-bottom: 7; background-color:rgb(72, 143, 236);">
    This is text inside a div. 
  </div>

  <div style="width:530px;height:300px; float: block;margin-bottom: 7; background-color:rgb(111, 116, 122);">
    This is text inside a div. 
  </div>
  <div  id="sidebar"  ></div>
  <div style="width:530px;height:300px;float: left; background-color:rgb(91, 102, 116);">
    This is text inside a div. 
  </div>
  
  <div style="width:530px;height:300px;  background-color:rgb(158, 200, 241);">
    This is text inside a div. 
  </div>
</div> -->