<div class="blog-content pt60">	
  <div class="container"> 
  
  <div class="row">
    <div class="col-md-12">
          
        <h1 class="page-header text-center  title-text" style="color:#18a8aa; margin-top: 10px;  
    ">اسال طبيبك مجانا <i class="fa fa-user-md"></i></h1>
<div class="container-fluid">
<h2 class="text-center"><small><i><br>

    تستطيع الحصول على  اجابة طبيه في اقل من 48 ساعة

  والحصول على آراء مؤهلة من <a href="https://www.freedoctorhelpline.com/consult-best-doctors-online-now-instant-doctor-consult-doctor-on-call/">"طبيبي نت "</a>
 

نحاول الإجابة على جميع أسئلتك الطبية من خلال الاستشارة الأصلية لأطبائنا المشهورين من جميع أنحاء العالم.&nbsp;</i>
</small></h2>
<div class="row center-block">
<div class="col=sm-4 col-md-4">
<div class="well text-center" style="border: 5px solid #18a8aa; border-radius: 50%;margin-right: 60px; width: 208px; height: 208px;">
  <i class="fa fa-globe text-info text-center" style="font-size: 70px; padding-bottom: 10px;"></i><br>
<span class="text-info">متخصصون من
</span><br>
<span class="text-info">من جميع انحاء </span><br>
<span class="text-info">العالم.</span></div>
</div>
<div class="col=sm-4 col-md-4">
<div class="well text-center" style="border: 5px solid #18a8aa;margin-right: 50px;   color: #fff;
 border-radius: 50%; width: 208px; height: 208px;"><i class="fa fa-clock-o text-info text-center" style="font-size: 70px; padding-bottom: 10px;"></i><br>
<span class="text-info"> توافر طوال الاسبوع</span><br>
<span class="text-info">&amp; وموثوقية</span></div>
</div>
<div class="col=sm-4 col-md-4">
<div class="well text-center" style="border: 5px solid #18a8aa; border-radius: 50%; width: 208px; height: 208px; margin-right: 40px;"><i class="fa fa-check-square text-info text-center" style="font-size: 70px; padding-bottom: 10px;"></i><br>
<span class="text-info">ارضاء </span><br>
<span class="text-info">مضمون.</span></div>
</div>
</div>
<p>&nbsp;</p>
</div>
<form id="question-filter-form" style="margin: 20px auto;" class="col-12"  > 
  
  <div class="search-bar col-md-12">
<div class="row">
  <div class="container center-block">
    <div class="row">
    <div class="col-sm-8 col-md-offset-1">
    <div class="well" style=" border: 2px solid #18a8aa; border-radius: 10px;">
    <h3 class="text-center text-info"><u>اطرح سواالك هنا </u> <i class="fa fa-comment-o"></i></h3>
    <div class="dwqa-container">
      <form  class="form-group" >
        <p ><label for="question_title">العنوان</label>
          <input  type="text"   id="question-title" name="question-title"  style="border: 1px solid #18a8aa; border-radius: 5px; width: 100%;" 
          class="form-group" >
         </p>
         <div class="">
    
      <div class="form-group">
        <label for="">اكتب وصف المرض هنا</label>
        <button type="button" class="btn btn-primary  "  id="butn1" style="direction: rtl; background:#18a8aa ; margin-right: 56%  ;">ارفاق ملف</button>
        <textarea class="form-control" name="" id="" rows="3" style="border: 2px solid #18a8aa; border-radius: 10px;"></textarea>

      </div>
      <button type="button" class="btn btn-primary btn-block "  id="butn1" style="direction: rtl; background:#18a8aa ; "> ارسال</button>
    
    </div>
    
         
        </form>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
</div>
</form> 
      
    </div> <!--  end blog-single -->
  </div>
  
  </div></div>
  <div class="col-lg-12"  style="background: white; width: 44%; margin-top: 3%; float: right; margin-right: 12%; padding: 10px;

border-radius: 5px;
    box-shadow: 0 2px 15px 0 rgb(23 23 37 / 5%);
    border: solid 1px #ababac;
    background-color:white;
    border-radius: 10px;

  ">
<label class="" for="">:ترتيب الأسئلة حسب</label>
<select class="col-lg-4" name="" id="" style="   border-radius: 5px;
box-shadow: 0 2px 15px 0 rgb(23 23 37 / 5%); margin-right: 20px;
height: 50px;
border: solid 1px #18a8aa;
background-color: rgb(255, 255, 255); width: 50%;
">  <option>الاكثر زيارة </option>
  <option> احدث الاسئلة </option></select>
  <select class="col-lg-4" name="" id="" style="   border-radius: 5px;
  margin-right: 30px;
  height: 50px;

box-shadow: 0 2px 15px 0 rgb(23 23 37 / 5%);
border: solid 1px #17a2b8;
background-color: rgb(255, 255, 255); width: 250px;">  
  <option value="امراض-الغدد-الصماء">أمراض الغدد الصماء</option>
  <option value="مرض-السكري">مرض السكري</option>
  <option value="امراض-الجهاز-التنفسي">أمراض الجهاز التنفسي</option>
  <option value="امراض-الدم">أمراض الدم</option>
  <option value="ارتفاع-ضغط-الدم">ارتفاع ضغط الدم</option>
</select>
  </div>
  <div class="col-lg-12"  style="background: white; width: auto; margin-top: 3%; float: right; margin-right: 6.5%; padding: 10px;

  border-radius: 5px;
      box-shadow: 0 2px 15px 0 rgb(23 23 37 / 5%);
      border: solid 1px #ababac;
      background-color:white;
      border-radius: 10px;
      ">
      
                 <input type="search" style="    padding: 10px 40px 10px 10px;
        height: 40px !important;
        width: 255px;

        margin-right: 10px;
        margin-left: 55px;
        font-family: Tajawal-Medium;
        direction: rtl;
        border-radius: 3px;
        border: solid 1px #d1d1d3;
        color: #a2a2a8;
        
     " class="search-text-box id-2-3" name="q" value="" autocomplete="off" placeholder="ادخل كلمة للبحث" aria-label="بحث" data-role="none" itemprop="query-input"> 
<button  type="button" class="btn btn-info" style="background: #18a8aa;background-color: #18a8aa;  color: white;"><img class="navbar-search-icon dark-search pointer" src="/assets/images/search.png" alt="search" width="30px" height="20px">
</button>   
      </div>
  <div class="col-lg-12" style="width:90% ;  ">
    <div class="col-lg-6" style="background: white; float: right;  width: 51%; margin-top: 3%;
     margin-right: 13%; padding: 10px;
margin-left: 4.5%;
    border-radius: 5px;
    
    box-shadow: 10px 2px 15px 10px rgb(23 23 37 / 10%);
        border: solid 0.5px #a8a8a8;
        background-color:white;
        border-radius: 10px;
        box-sizing: border-box;

      ">

    <span  style="direction: left;">

      <i class="fa fa-user-circle-o" aria-hidden="false" style="font-size: 40px; margin-left: 8px;">
      
         </i>احمد    </span>  
       <div style="background: gray; width: 60px;margin-right: 90%;margin-top: -30px; border-radius: 20px;"> 
        <p class="age-gender-section" style="font-size: 10px;
       color: rgb(10, 10, 10); 
       
       ">ذكر 25 سنة</p>
       </div>      

    <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
     <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> نبضات سريعة غير منتظمة صداع ارهاق؟ </h2>
     </div>
     <hr>
         <h6 style=" color:#17a2b8">تم الرد بواسطة ____________</h6>  

    
    <span  style="font-size: 10px; margin-right: 4%;" > 
      <i class="fa fa-user-md" aria-hidden="false" style="font-size: 50px;"> </i>
      <p style="margin-right: 30px; color:#17a2b8 ;font-size: 15px;" >الدكتور محمد المصلي
       </p>
      <p style=" margin-right:  70px;margin-top: -10px; color:#727272 ;font-size: 13px;">( 20 يونويو 2020)</p>
      </span> 
     <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
      <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> </h2>
      </div>

<button type="button" class="btn" style="     color: #fff;
background-color: #18a8aa;
border-color: #18a8aa;
margin-top: -10px;
margin-right: 80%;  display: flex !important;
justify-items: center !important;
justify-content: center !important;
text-align: center !important;
vertical-align: middle !important;
line-height: normal !important;"> عرض الاجابة</button>

      </div>
      <div class="col-lg-5" style="background: rgb(253, 252, 252); width: 30%; margin-top: 3%; margin-right: 10px;
      float: left;
      justify-content: center;
      box-sizing: border-box;
                box-shadow: 20px 2px 15px 10px rgb(23 23 37 / 5%);
                border: solid 0.px #18a8aa;
                padding: 15px 20px 20px;

    border-color: #18a8aa;
border-radius: 5px;              ">
              <div>
                <p class="ask-dr-text-exp">  - احصل على إجابة لاستشاراتك الطبية</p>
                <img src="/assets/images/uu.png" style="height: 100px ; width: 100px  ; margin-right: 60%;">
                </div>
                <p class="sub-text-dr-exp" style="color: rgb(31, 31, 31);font-family: Arial, Helvetica, sans-serif;">نخبة من الأطباء المتخصصين سيقومون بالإجابة على استفساراتك من خلال خدمة الاستشارات المدفوعة   </p>                 <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
                  </div>
                  <hr>
                  
          
          <button type="button" class="btn  btn-block " style="background: #18a8aa;color: white; background-color: 18a8aa;">
اسأل الطبيب فورا </button>
              </div>
              <div class="col-lg-6" style="background: white; float: right;  width: 51%; margin-top: 3%;
              margin-right: 13%; padding: 10px;
         margin-left: 4.5%;
             border-radius: 5px;
             
             box-shadow: 10px 2px 15px 10px rgb(23 23 37 / 10%);
                 border: solid 0.5px #a8a8a8;
                 background-color:white;
                 border-radius: 10px;
                 box-sizing: border-box;
         
               ">
         
             <span  style="direction: left;">
         
               <i class="fa fa-user-circle-o" aria-hidden="false" style="font-size: 40px; margin-left: 8px;">
               
                  </i>احمد    </span>  
                <div style="background: gray; width: 60px;margin-right: 90%;margin-top: -30px; border-radius: 20px;"> 
                 <p class="age-gender-section" style="font-size: 10px;
                color: rgb(10, 10, 10); 
                
                ">ذكر 25 سنة</p>
                </div>      
         
             <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
              <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> نبضات سريعة غير منتظمة صداع ارهاق؟ </h2>
              </div>
              <hr>
                  <h6 style=" color:#17a2b8">تم الرد بواسطة ____________</h6>  
         
             
             <span  style="font-size: 10px; margin-right: 4%;" > 
               <i class="fa fa-user-md" aria-hidden="false" style="font-size: 50px;"> </i>
               <p style="margin-right: 30px; color:#17a2b8 ;font-size: 15px;" >الدكتور محمد المصلي
                </p>
               <p style=" margin-right:  70px;margin-top: -10px; color:#727272 ;font-size: 13px;">( 20 يونويو 2020)</p>
               </span> 
              <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
               <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> </h2>
               </div>
         
         <button type="button" class="btn" style="     color: #fff;
         background-color: #18a8aa;
         border-color: #18a8aa;
         margin-top: -10px;
         margin-right: 80%;  display: flex !important;
         justify-items: center !important;
         justify-content: center !important;
         text-align: center !important;
         vertical-align: middle !important;
         line-height: normal !important;"> عرض الاجابة</button>
         
               </div>
               <div class="col-lg-6" style="background: white; float: right;  width: 51%; margin-top: 3%;
               margin-right: 13%; padding: 10px;
          margin-left: 4.5%;
              border-radius: 5px;
              
              box-shadow: 10px 2px 15px 10px rgb(23 23 37 / 10%);
                  border: solid 0.5px #a8a8a8;
                  background-color:white;
                  border-radius: 10px;
                  box-sizing: border-box;
          
                ">
          
              <span  style="direction: left;">
          
                <i class="fa fa-user-circle-o" aria-hidden="false" style="font-size: 40px; margin-left: 8px;">
                
                   </i>احمد    </span>  
                 <div style="background: gray; width: 60px;margin-right: 90%;margin-top: -30px; border-radius: 20px;"> 
                  <p class="age-gender-section" style="font-size: 10px;
                 color: rgb(10, 10, 10); 
                 
                 ">ذكر 25 سنة</p>
                 </div>      
          
              <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
               <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> نبضات سريعة غير منتظمة صداع ارهاق؟ </h2>
               </div>
               <hr>
                   <h6 style=" color:#17a2b8">تم الرد بواسطة ____________</h6>  
          
              
              <span  style="font-size: 10px; margin-right: 4%;" > 
                <i class="fa fa-user-md" aria-hidden="false" style="font-size: 50px;"> </i>
                <p style="margin-right: 30px; color:#17a2b8 ;font-size: 15px;" >الدكتور محمد المصلي
                 </p>
                <p style=" margin-right:  70px;margin-top: -10px; color:#727272 ;font-size: 13px;">( 20 يونويو 2020)</p>
                </span> 
               <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
                <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> </h2>
                </div>
          
          <button type="button" class="btn" style="     color: #fff;
          background-color: #18a8aa;
          border-color: #18a8aa;
          margin-top: -10px;
          margin-right: 80%;  display: flex !important;
          justify-items: center !important;
          justify-content: center !important;
          text-align: center !important;
          vertical-align: middle !important;
          line-height: normal !important;"> عرض الاجابة</button>
          
                </div>
                <div class="col-lg-6" style="background: white; float: right;  width: 51%; margin-top: 3%;
                margin-right: 13%; padding: 10px;
           margin-left: 4.5%;
               border-radius: 5px;
               
               box-shadow: 10px 2px 15px 10px rgb(23 23 37 / 10%);
                   border: solid 0.5px #a8a8a8;
                   background-color:white;
                   border-radius: 10px;
                   box-sizing: border-box;
           
                 ">
           
               <span  style="direction: left;">
           
                 <i class="fa fa-user-circle-o" aria-hidden="false" style="font-size: 40px; margin-left: 8px;">
                 
                    </i>احمد    </span>  
                  <div style="background: gray; width: 60px;margin-right: 90%;margin-top: -30px; border-radius: 20px;"> 
                   <p class="age-gender-section" style="font-size: 10px;
                  color: rgb(10, 10, 10); 
                  
                  ">ذكر 25 سنة</p>
                  </div>      
           
               <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
                <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> نبضات سريعة غير منتظمة صداع ارهاق؟ </h2>
                </div>
                <hr>
                    <h6 style=" color:#17a2b8">تم الرد بواسطة ____________</h6>  
           
               
               <span  style="font-size: 10px; margin-right: 4%;" > 
                 <i class="fa fa-user-md" aria-hidden="false" style="font-size: 50px;"> </i>
                 <p style="margin-right: 30px; color:#17a2b8 ;font-size: 15px;" >الدكتور محمد المصلي
                  </p>
                 <p style=" margin-right:  70px;margin-top: -10px; color:#727272 ;font-size: 13px;">( 20 يونويو 2020)</p>
                 </span> 
                <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
                 <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> </h2>
                 </div>
           
           <button type="button" class="btn" style="     color: #fff;
           background-color: #18a8aa;
           border-color: #18a8aa;
           margin-top: -10px;
           margin-right: 80%;  display: flex !important;
           justify-items: center !important;
           justify-content: center !important;
           text-align: center !important;
           vertical-align: middle !important;
           line-height: normal !important;"> عرض الاجابة</button>
           
                 </div>
                 <div class="col-lg-6" style="background: white; float: right;  width: 51%; margin-top: 3%;
                 margin-right: 13%; padding: 10px;
            margin-left: 4.5%;
                border-radius: 5px;
                
                box-shadow: 10px 2px 15px 10px rgb(23 23 37 / 10%);
                    border: solid 0.5px #a8a8a8;
                    background-color:white;
                    border-radius: 10px;
                    box-sizing: border-box;
            
                  ">
            
                <span  style="direction: left;">
            
                  <i class="fa fa-user-circle-o" aria-hidden="false" style="font-size: 40px; margin-left: 8px;">
                  
                     </i>احمد    </span>  
                   <div style="background: gray; width: 60px;margin-right: 90%;margin-top: -30px; border-radius: 20px;"> 
                    <p class="age-gender-section" style="font-size: 10px;
                   color: rgb(10, 10, 10); 
                   
                   ">ذكر 25 سنة</p>
                   </div>      
            
                <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
                 <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> نبضات سريعة غير منتظمة صداع ارهاق؟ </h2>
                 </div>
                 <hr>
                     <h6 style=" color:#17a2b8">تم الرد بواسطة ____________</h6>  
            
                
                <span  style="font-size: 10px; margin-right: 4%;" > 
                  <i class="fa fa-user-md" aria-hidden="false" style="font-size: 50px;"> </i>
                  <p style="margin-right: 30px; color:#17a2b8 ;font-size: 15px;" >الدكتور محمد المصلي
                   </p>
                  <p style=" margin-right:  70px;margin-top: -10px; color:#727272 ;font-size: 13px;">( 20 يونويو 2020)</p>
                  </span> 
                 <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
                  <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> </h2>
                  </div>
            
            <button type="button" class="btn" style="     color: #fff;
            background-color: #18a8aa;
            border-color: #18a8aa;
            margin-top: -10px;
            margin-right: 80%;  display: flex !important;
            justify-items: center !important;
            justify-content: center !important;
            text-align: center !important;
            vertical-align: middle !important;
            line-height: normal !important;"> عرض الاجابة</button>
            
                  </div>
                <div class="col-lg-5" style="background: white; width: 30%; margin-top: 3%; margin-right: 50px;
                float: left;
                justify-content: center; margin-left: -20px;
                      border-radius: 5px;
                          box-shadow: 0 2px 15px 0 rgb(23 23 37 / 5%);
                          border: solid 0.1px #a4a5a5;
                        background-color:rgb(238, 238, 238);
                        border-radius: 8px;
                        ">
                       
<p style="font-size: 20px; font-family: Arial, Helvetica, sans-serif;margin-right: 110px;color: #007bff!important;
">الاسئلة الاكثر تفاعلا</p>
<hr>
<a href="" style="color: rgb(31, 31, 31);font-family: Arial, Helvetica, sans-serif;"><p>هل تحليل الروكتان الشامل يحتاج صيام او لا </p></a>
<a href="" style="color: rgb(95, 95, 95);font-family: Arial, Helvetica, sans-serif;"><p>الطب العام </p></a>

<hr>
<a href="" style="color: rgb(31, 31, 31);font-family: Arial, Helvetica, sans-serif;"><p>هل الحموضة تسبب كتمة الصدر وضيق او صعوبة تنفس وهل حبوب الحموضة تسبب سرطان المعدة </p></a>
<a href="" style="color: rgb(95, 95, 95);font-family: Arial, Helvetica, sans-serif;"><p>الطب العام </p></a>

<hr>
<a href="" style="color: rgb(31, 31, 31);font-family: Arial, Helvetica, sans-serif;"><p>ماهي اسباب نبض العروق في الجسم بشكل مستمر في الرقبة و الصدر و البطن 

</p></a>
<a href="" style="color: rgb(95, 95, 95);font-family: Arial, Helvetica, sans-serif;"><p>الطب العام </p></a>

<hr>

<a href=""style="color: rgb(31, 31, 31);font-family: Arial, Helvetica, sans-serif;"><p>اني مصابه بفيروس كرونا واتناول دواء Adva C MAX كم كبسوله اتناول يوميا  </p></a>
<a href="" style="color: rgb(95, 95, 95);font-family: Arial, Helvetica, sans-serif;"><p>الطب العام </p></a>
<hr>

<a href="" style="color: rgb(31, 31, 31);font-family: Arial, Helvetica, sans-serif;"><p>هل تحليل الروكتان الشامل يحتاج صيام او لا </p></a>
<a href="" style="color: rgb(95, 95, 95);font-family: Arial, Helvetica, sans-serif;"><p>الطب العام </p></a>

<hr>
<a href="" style="color: rgb(31, 31, 31);font-family: Arial, Helvetica, sans-serif;"><p>هل الحموضة تسبب كتمة الصدر وضيق او صعوبة تنفس وهل حبوب الحموضة تسبب سرطان المعدة </p></a>
<a href="" style="color: rgb(95, 95, 95);font-family: Arial, Helvetica, sans-serif;"><p>الطب العام </p></a>

<hr>
<a href="" style="color: rgb(31, 31, 31);font-family: Arial, Helvetica, sans-serif;"><p>ماهي اسباب نبض العروق في الجسم بشكل مستمر في الرقبة و الصدر و البطن 

</p></a>
<button type="button" class="btn btn-outline-info btn-block" style="    
                 margin-bottom: 3px;   color: #18a8aa; "> عرض المزيد من الاسئلة </button>
                        </div>
                        <div class="col-lg-6" style="background: white; float: right;  width: 51%; margin-top: 3%;
                        margin-right: 13%; padding: 10px;
                   margin-left: 4.5%;
                       border-radius: 5px;
                       
                       box-shadow: 10px 2px 15px 10px rgb(23 23 37 / 10%);
                           border: solid 0.5px #a8a8a8;
                           background-color:white;
                           border-radius: 10px;
                           box-sizing: border-box;
                   
                         ">
                   
                       <span  style="direction: left;">
                   
                         <i class="fa fa-user-circle-o" aria-hidden="false" style="font-size: 40px; margin-left: 8px;">
                         
                            </i>احمد    </span>  
                          <div style="background: gray; width: 60px;margin-right: 90%;margin-top: -30px; border-radius: 20px;"> 
                           <p class="age-gender-section" style="font-size: 10px;
                          color: rgb(10, 10, 10); 
                          
                          ">ذكر 25 سنة</p>
                          </div>      
                   
                       <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
                        <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> نبضات سريعة غير منتظمة صداع ارهاق؟ </h2>
                        </div>
                        <hr>
                            <h6 style=" color:#17a2b8">تم الرد بواسطة ____________</h6>  
                   
                       
                       <span  style="font-size: 10px; margin-right: 4%;" > 
                         <i class="fa fa-user-md" aria-hidden="false" style="font-size: 50px;"> </i>
                         <p style="margin-right: 30px; color:#17a2b8 ;font-size: 15px;" >الدكتور محمد المصلي
                          </p>
                         <p style=" margin-right:  70px;margin-top: -10px; color:#727272 ;font-size: 13px;">( 20 يونويو 2020)</p>
                         </span> 
                        <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
                         <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> </h2>
                         </div>
                   
                   <button type="button" class="btn" style="     color: #fff;
                   background-color: #18a8aa;
                   border-color: #18a8aa;
                   margin-top: -10px;
                   margin-right: 80%;  display: flex !important;
                   justify-items: center !important;
                   justify-content: center !important;
                   text-align: center !important;
                   vertical-align: middle !important;
                   line-height: normal !important;"> عرض الاجابة</button>
                   
                         </div>
                 <div class="col-lg-6" style="background: white; float: right;  width: 51%; margin-top: 3%;
     margin-right: 13%; padding: 10px;
margin-left: 4.5%;
    border-radius: 5px;
    
    box-shadow: 10px 2px 15px 10px rgb(23 23 37 / 10%);
        border: solid 0.5px #a8a8a8;
        background-color:white;
        border-radius: 10px;
        box-sizing: border-box;

      ">

    <span  style="direction: left;">

      <i class="fa fa-user-circle-o" aria-hidden="false" style="font-size: 40px; margin-left: 8px;">
      
         </i>احمد    </span>  
       <div style="background: gray; width: 60px;margin-right: 90%;margin-top: -30px; border-radius: 20px;"> 
        <p class="age-gender-section" style="font-size: 10px;
       color: rgb(10, 10, 10); 
       
       ">ذكر 25 سنة</p>
       </div>      

    <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
     <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> نبضات سريعة غير منتظمة صداع ارهاق؟ </h2>
     </div>
     <hr>
         <h6 style=" color:#17a2b8">تم الرد بواسطة ____________</h6>  

    
    <span  style="font-size: 10px; margin-right: 4%;" > 
      <i class="fa fa-user-md" aria-hidden="false" style="font-size: 50px;"> </i>
      <p style="margin-right: 30px; color:#17a2b8 ;font-size: 15px;" >الدكتور محمد المصلي
       </p>
      <p style=" margin-right:  70px;margin-top: -10px; color:#727272 ;font-size: 13px;">( 20 يونويو 2020)</p>
      </span> 
     <div class="question-body" itemscope="" itemprop="mainEntity" style="margin-right: 10%;" itemtype="https://schema.org/Question">
      <h2 class="question-text mt-17 id-5-5" itemprop="name" style="font-size: 16px;"> </h2>
      </div>

<button type="button" class="btn" style="     color: #fff;
background-color: #18a8aa;
border-color: #18a8aa;
margin-top: -10px;
margin-right: 80%;  display: flex !important;
justify-items: center !important;
justify-content: center !important;
text-align: center !important;
vertical-align: middle !important;
line-height: normal !important;"> عرض الاجابة</button>

      </div>
                
                
                </div>
                