<div class="container py-5 mt-5 ar">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="bg-white rounded-lg shadow-lg p-5">
        <div class="alert alert-danger alert-dismissible fade show" role="alert"
            *ngIf="message != null && message !=''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            {{message}}
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="/assets/imges/logo.png" alt="" style="width: 200px; height: 100px;">

          </div>

        </div>
        <h1 class="mb-4"> تسجيل الدخول</h1>
        <form [formGroup]='loginForm' (ngSubmit)="Login()">
          <div class="form-group">
            <label style="font-weight: bold;" for="email">اسم  المستخدم </label>
            <input type="user_name" formControlName="user_name" class="form-control" id="user_name" required placeholder=" user_name">
            <div class="text-danger" *ngIf="this.loginForm.get('user_name')?.invalid && this.loginForm.get('user_name')?.touched">
                <div class="text-danger" *ngIf="this.loginForm.get('user_name')?.errors?.required">
                    {{messageValidate.user_name.required}}
                </div>
            </div>
          </div>
          <div class="form-group">
            <label style="font-weight: bold;" for="password">كلمة المرور </label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
            <div class="text-danger" *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched">
                <div class="text-danger" *ngIf="this.loginForm.get('password')?.errors?.required">
                    {{messageValidate.password.required}}
                </div>
            </div>
          </div>
          <div class="form-group">
            <input type="checkbox"  id="rememberMe" >
            <label class="pr-2" style="font-weight: bold;" for="remember">تذكرني</label>
          </div>
          <div class="row mt-2 mb-5 ">
            <div class="col-md-8">
              <!-- <button type="button" class="btn btn-success">Success</button> -->
              <button type="submit" class=" btn btn-success btn-lg " [disabled]="loginForm.invalid">دخول</button>
            </div>
            <div class="col-md-4 ">
              <div> <a href="forgetpassword" class="mt-2">نسيت كلمة المرور؟</a></div>
            </div>
          </div>

          <!-- <div class="m-6 text-center"> ليس لدي حساب <a href="delogin"> انضم الان </a></div> -->
          <div class="m-6 text-center">ليس لدي حساب
            <a href="CreatAccountTabbi" class="">انشاء حساب</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

