<div class=" container mt-4">
  <!-- كود صور logo -->
  <div class="row  py-4">
    <div class="col-lg-12 mx-auto d-flex align-items-center justify-content-center  ">
      <div class="  ">
        <img src="assets/imges/doctoLogin.jpg" class="rounded ">

      </div>
    </div>
  </div>
  <!-- اختار القسم  -->
  <div class="row  mt-4">
    <div class="col-lg-6 mx-auto align-items-center justify-content-center  ">
      <div class=" shadow-sm ">
     <div class=" card1">
          <div class="card-body">
            <div class="row bg-white">
              <div class="col-md-4">
                <div class="alert alert-info" role="alert">
                  <strong>مستشفي نبض الحياة</strong>
                </div>
              </div>
              <div class="col-md-4  mx-auto ">
                <div class="form-group">
                  <select class="form-control" id="" name="">
                    <option selected> اختار القسم </option>
                    <option value="1">العيون</option>
                    <option value="2">الباطنية</option>
                    <option value="3">الجلد</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4  mx-auto ">
                <div class="form-group">
                  <select class="form-control" id="" name="">
                    <option selected> اختار القسم </option>
                    <option value="1">العيون</option>
                    <option value="2">الباطنية</option>
                    <option value="3">الجلد</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- <div class="row bg-white">
              <div class="col-md-12  mx-auto ">
                <div class="form-group">

                  <select class="form-control" id="" name="">
                    <option selected> اختار الطبيب المعالج </option>
                    <option value="1">العيون</option>
                    <option value="2">الباطنية</option>
                    <option value="3">الجلد</option>
                  </select>
                </div>
              </div>
            </div> -->

          </div>
        </div>

      </div>
    </div>
  </div>


 <!-- احجز   -->
 <div class="row ">
  <div class="col-lg-6 mx-auto align-items-center justify-content-center  ">
    <div class=" shadow-sm ">
   <div class=" card1">
        <div class="card-body">
          <div class="row bg-white">
            <div class="col-md-12  mx-auto ">
              <button  type="button"class=" subscribe btn btn-primary btn-block rounded-pill shadow-sm mt-2" (click)="hospitslBookingInfoTow()" > احجز</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


</div>
