


  <!-- header section starts  -->



  <!-- header section ends  -->

  <!-- home section starts  -->
  <!-- <div class="container mb-5 mt-5">
  <div class="row">
  <div class="col-md-4">
    <div class="card mt-3">
  <div class=" product-1 align-items-center text-center">
  <img src="./doc2.jpg" class="rounded" width="160" alt="" srcset="">
  <h4>Amrdn</h4>
  <div class="mt-5 inifo">
    <span class="text1">ااخصائي اوعية دمويه وامراض القلب حاصل على شهادة المجستير يقيم في محافظة ذمار الجمهورية اليمنية
    </span>
    <span class="text1">ااخصائي اوعية دمويه واية اليمنية
    </span>
  </div>
  <div class="cost mt-3 text dark"></div>
  <span>100R</span>
    </div>
  </div>

  </div>
  <
  .
  </div></div> -->

  <div class="">


  <div class="cont">
    <span class="text1">اطباءنا</span>
  </div>
  <br>
  <div class=" input-group  row"  >
   <label for="" style="display: inline;   margin-right: 10px;" >القسم</label>
  <select name="" id="" class="form-control  " style="direction: rtl;border-radius: 6px; width: 20%;  margin-right: 10px; " >

    <option value="">قسم العظام</option>
    <option value="">قسم القلب</option>
    <option value="">قسم الجلد</option>

  </select>
    <label for="" style="display: inline; margin-right: 40%;" >بحث مخصص </label>
    <input class="form-control" style="width: 20%;  border-radius: 6px;" type="search" placeholder="بحث" >
  </div>

  <div class="conainer">
  <div class="row">
    <!-- <a href="Depart"> -->
    <div class="col-md-3  col-sm-6">
      <a (click)="VeiwDoctorInfo()">
      <div class="our-team">
        <div class="pic">
          <img src="../../../../assets/imges/r.jpg" alt="">
        </div>
  <div team-content>
   <h3 class="title"> محمد خالد</h3>
   <span class="post">اخصائي باطنيه </span>
  </div>
  <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>







  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>
      </a>
    </div>
  <!-- </a> -->
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/h.jpg" alt="">
        </div>
  <div team-content>
   <h2 class="title">فواز عمران</h2>
   <span class="post">اخصائي جراحة </span>
  </div>
  <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/h.jpg" alt="">
        </div>
  <div team-content>
   <h2 class="title">محمد المصلي</h2>
   <span class="post">اخصائي قلب </span>
  </div> <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>







  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/h.jpg" alt="">
        </div>
  <div team-content>
   <h2 class="title">فواز عمران</h2>
   <span class="post">اخصائي جراحة </span>
  </div>
  <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/r.jpg" alt="">
        </div>
  <div team-content>
   <h3 class="title"> محمد خالد</h3>
   <span class="post">اخصائي باطنيه </span>
  </div>
  <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>







  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/h.jpg" alt="">
        </div>
  <div team-content>
   <h2 class="title">فواز عمران</h2>
   <span class="post">اخصائي جراحة </span>
  </div>
  <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/h.jpg" alt="">
        </div>
  <div team-content>
    <a href="HomeQustion">
   <h2   class="title">محمد المصلي</h2></a>
   <span class="post">اخصائي قلب </span>
  </div> <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>







  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/h.jpg" alt="">
        </div>
  <div team-content>
   <h2 class="title">فواز عمران</h2>
   <span class="post">اخصائي جراحة </span>
  </div>
  <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div><div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/r.jpg" alt="">
        </div>
  <div team-content>
   <h3 class="title"> محمد خالد</h3>
   <span class="post">اخصائي باطنيه </span>
  </div>
  <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>







  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/h.jpg" alt="">
        </div>
  <div team-content>
   <h2 class="title">فواز عمران</h2>
   <span class="post">اخصائي جراحة </span>
  </div>
  <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/h.jpg" alt="">
        </div>
  <div team-content>
   <h2 class="title">محمد المصلي</h2>
   <span class="post">اخصائي قلب </span>
  </div> <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>







  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/assets/images/h.jpg" alt="">
        </div>
  <div team-content>
   <h2 class="title">فواز عمران</h2>
   <span class="post">اخصائي جراحة </span>
  </div>
  <div class="value">
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>

    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
    <i   class="fa fa-star w"   style="color: goldenrod;" aria-hidden="false" ></i>
  </div>
  <ul class="social">
  <li><a href="" class="fa fa-facebook"></a></li>
  <li><a href="" class="fa fa-twitter"></a></li>
  <li><a href="" class="fa fa-whatsapp"></a></li>

  </ul>
     </div>

    </div>
  </div>


  </div>

</div>
