:host {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.list {
  max-width: 550px;
  margin: auto;
}

li {
  margin-bottom: 5px;
}

.card {
  // position: relative;
  // display: flex;
  // flex-direction: column;
  // min-width: 0;
  // word-wrap: break-word;
  // background-color: #fff;
  // background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125);
  // border-radius: .25rem;
}
