/* .marginrightalert{
  margin-right: auto;
  margin-left: auto;
} */
.img1
{
  /* width: 600px; */
  margin-right: -22%;
  width: 400px;
  height: 180px;
}
/* @media (min-width: 576px){
.d-sm-none {
    display: none!important;
}
} */
