<div class="container  py-2">
  <div class="row ">
    <div class="col-lg-12 mx-auto d-flex align-items-center justify-content-center  ">
      <div class="  ">
        <img src="assets/imges/doctoLogin.jpg" class="rounded ">

      </div>
    </div>
  </div>
  <!-- اضافة اقسام -->
  <div class="row">
    <div class="col-md-10 mx-auto ">
      <div class="bg-white  shadow-sm pb-3 ">
        <div class="row  pt-2">

          <div class="col-md-12 ">
            <div class="row">
              <div class="col-md-7">
                <form>
                  <div class="alert alert-info text-center col-md-10 marginrightalert" role="alert">
                    <strong>إضافات بيانات الاقسام</strong>
                  </div>
                  <div class=" col-md-10 mt-4">

                    <div class="form-group">
                      <input type="text" class="form-control" name="dapertmentName" [(ngModel)]="da.dapertmentName" #Name="ngModel"
                        placeholder="اسم  القسم ">

                    </div>
                  </div>
                  <div class=" col-md-10">
                    <div class="row">
                      <div class="col-md-4">
                        <button type="button" class=" subscribe btn btn-primary btn-block rounded-pill shadow-sm mt-2" (click)="addDeper()">
                          إضافة </button>

                      </div>
                      <div class="col-md-8"></div>

                    </div>
                  </div>

                </form>

              </div>
              <div class="col-md-5 d-block d-sm-none d-md-block">
                <img src=" assets/imges/booking.jpg" class="img1" alt="">

              </div>

            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
