<div class="container   py-5">
  <div class=" row ">
    <div class="col-lg-8 bg-white   mx-auto  align-items-center justify-content-center">
      <div class="row  ">
        <div class="col-lg-12 mx-auto d-flex align-items-center justify-content-center  ">
          <div class="  ">
            <!-- <div class="alert alert-info text-center  marginrightalert" role="alert">
              <strong>إضافات أطباء المستشفي </strong>
            </div> -->
            <img src="assets/icon/Location.png" class="rounded img1">
            <div class="text-cent-center mr-5">
              <strong></strong>

            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mradd mx-auto shadow-sm align-items-center justify-content-center">
          <div class=" pb-3  ">

            <div class="row   ">

              <div class="col-md-12 p-3">



                <form>

                  <div class=" col-md-10 mt-4 mr-4">
                    <div class="form-group">
                      <!--  -->
                      <select class="form-control" id="dapertmentId" formControlName="dapertmentId">
                        <option value="0">اختر الدولة</option>
                        <option>
                          <!-- {{arrD.dapertmentName}} -->

                        </option>

                      </select>
                    </div>
                  </div>
                  <div class=" col-md-10 mt-4 mr-4">
                    <div class="form-group">
                      <!--  -->
                      <select class="form-control" id="dapertmentId" formControlName="dapertmentId">
                        <option value="0">اختر المدينة</option>
                        <option>
                          <!-- {{arrD.dapertmentName}} -->

                        </option>

                      </select>
                    </div>
                  </div>
                  <div class=" col-md-10 mt-4 mr-4">
                    <div class="form-group">
                      <!--  -->
                      <select class="form-control" id="dapertmentId" formControlName="dapertmentId">
                        <option value="0">اختر المديرية</option>
                        <option>
                          <!-- {{arrD.dapertmentName}} -->

                        </option>

                      </select>
                    </div>
                  </div>

                  <div class=" col-md-10 mt-4 mr-4">
                    <div class="form-group">
                      <!--  -->
                      <input type="text " class="form-control" formControlName="splicationName" id="splicationName" name="" placeholder="    العنوان الفعلي ">

                    </div>
                  </div>

                  <div class=" col-md-10">

                  </div>
                  <div class=" col-md-10">
                    <div class="row">
                      <div class="col-md-6  col-sm-6 mx-auto">
                        <button type="submit" class=" subscribe btn btn-primary btn-block  shadow-sm mt-2">
                          حفظ </button>

                      </div>


                    </div>
                  </div>
                </form>






              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
