

  <!--/.Navbar-->
  <!--Mask-->

  <!--/.Mask-->


 <section class="home ">
  <div class="container">


 <a  >
 <div class="pricing-table">

        <div class="icon type-01">

            <span class="fa  fa-heart"   ></span>
        </div>
        <h3 class="heading">الاستشارت المجانيه</h3>
        <h1 class="service-price">
         FREE

        </h1>
        <ul class="features-list">
          <li>
              <i class="fa fa-check"></i>
          اجابة سريعةوموثوقة
          </li>
          <li>
            <i class="fa fa-check"></i>
في اقل من  24 ساعة             </li>
        <li>
            <i class="fa fa-check"></i>
افضل الاخصائين في العالم             </li>
        <li>
            <i class="fa fa-check"></i>
        استشارت مشابهة في الموقع
        </li>



        </ul>
        <button class="order-button" (click)="freeQuClick()">
            تصفح

        </button>
    </div>
    </a>
<a > <div class="pricing-table" >
        <div class="icon type-02">
            <span class="fa fa-heart"></span>
        </div>
        <h3 class="heading">الاستشارت المدفوعة </h3>
        <h1 class="service-price">
            $

        </h1>
        <ul class="features-list">
          <li>
              <i class="fa fa-check"></i>
           اسشتر طبيبك الان
          </li>
          <li>
            <i class="fa fa-check"></i>
تواصل مع افضل الاطباء في العالم             </li>
        <li>
            <i class="fa fa-check"></i>
محادثات فيديو بجودة عالية           </li>
        <li>
            <i class="fa fa-check"></i>
مراسلة عبر محادثات الفورية             </li>



        </ul>
        <button class="order-button"  (click)="onClick()">
استشر الان
        </button>
    </div>
</a>

    <div class="pricing-table">
        <div class="icon type-03">
            <span class="fa fa-heart"></span>
        </div>
        <h3 class="heading">معلومات قد تفيدك</h3>

            <h1 class="service-price">
                من طبيبي
            </h1>



        <ul class="features-list">
          <li>
              <i class="fa fa-check"></i>
             معلومات طبية تفيدك اكثر
          </li>
          <li>
            <i class="fa fa-check"></i>
          نشر من افضل الاطباء
        </li>
        <li>
            <i class="fa fa-check"></i>
         معنا الصحة مضمونة بفضل الله
        </li>
        <li>
            <i  class="fa fa-check"></i>
        لا داعي للخوف فانت معنا في امان
        </li>



        </ul>
        <button class="order-button" (click)="healthcareClick()">
            تصفح

        </button>
    </div>
</div>
</section>

    <div class="cont text-center">
        <h1 style="  width: calc(100% - 10px);">Tobba.tn بوابة التطبيب عن
            بعد لاستشارة طبيب عبر الإنترنت في اليمن </h1>
        <p > لأن صحتي وصحة أحبائي لا تقدر بثمن.
            أستفيد من الأدوات الحديثة والمبتكرة في المجال الصحي.</p>

    </div>
