<div class="container   py-5">
  <div class=" row ">
    <div class="col-lg-8 bg-white  shadow-sm mx-auto  align-items-center justify-content-center">
      <div class="row  ">
        <div class="col-lg-12 mx-auto d-flex align-items-center justify-content-center  ">
          <div class="  ">
            <div class="alert alert-info text-center  marginrightalert" role="alert">
              <strong>إضافات تخصصات   </strong>
            </div>
            <img src="assets/imges/doctoLogin.jpg" class="rounded imgeT">
            <div class="text-cent-center mr-5">
              <strong> اسم  المستشفي </strong>

            </div>

          </div>
        </div>
      </div>
      <hr>
  <!-- اضافة اقسام -->
  <div class="row">
    <div class="col-lg-10 mradd mx-auto  align-items-center justify-content-center">
      <div class=" pb-3  ">

        <div class="row   ">

          <div class="col-md-12 p-3 ">

                <form [formGroup]="HospiltalSGrop">
                  <!-- <div class="alert alert-info text-center col-md-10 marginrightalert" role="alert">
                    <strong>إضافات بيانات التخصصات</strong>
                  </div> -->
                  <div class=" col-md-10 mt-4">
                    <div class="form-group">

                      <select class="form-control"  id="dapertmentId" formControlName="dapertmentId" (change)="changeWebsite($event)" >
                        <option value="0">اختر القسم</option>
                        <option *ngFor="let allDaperments of allDepertment" [ngValue]="allDaperments.id"  >
                          {{allDaperments.dapertmentName}}
                        </option>

                      </select>
                    </div>
                  </div>
                  <div class=" col-md-10 mt-4">
                    <div class="form-group">

                      <select class="form-control"  id="specialtiesId" formControlName="specialtiesId" >
                        <option value="0">اختر التخصص</option>
                        <option  *ngFor="let allSplications of allSplication" [ngValue]="allSplications.id">
                       {{allSplications.splicationName}}
                        </option>

                      </select>
                    </div>
                  </div>

                  <div class=" col-md-10">
                    <div class="row">
                      <div class="col-md-4">
                        <button type="button" class=" subscribe btn btn-primary btn-block rounded-pill shadow-sm mt-2"(click)="addHospiltalS()" >
                          حفظ </button>

                      </div>


                    </div>
                  </div>
                </form>






          </div>
        </div>
      </div>
    </div>
  </div>
</div>

