<h5 style="margin-top: 30px;">فيديوهات  طبية مفيده</h5>

<div style="display: flex; justify-content: center; margin-top: 10px; ">
  <div class="card-group" style="max-width: 700px;text-align: right; ">
    <div class="card border-success mb-3 " style="margin: 5px; width: auto;  background-color: rgb(56, 129, 151); border-radius: 10px;  box-shadow: 0px 0px 5px 0px; " >
      <div class="ratio ratio-16x9">
        <iframe style="border-radius: 10px;  box-shadow: 0px 0px 5px 0px; "
          src="https://www.youtube.com/embed/FEpF9fyB3oI"
          title="YouTube video"

        ></iframe>
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center;color: rgb(255, 255, 255);">نصائح طبية لا غنى عنها لمرضى الربو (حساسية الصدر) الانف</p>
      </div>
    </div>
    <div class="card border-success mb-3 " style="margin: 5px; width: auto; background-color: rgb(56, 129, 151); border-radius: 10px;  box-shadow: 0px 0px 5px 0px; " >
      <div class="ratio ratio-16x9">
        <iframe style="border-radius: 10px;  box-shadow: 0px 0px 5px 0px; font-size: 10px; "
          src="https://www.youtube.com/embed/HLJNinOusrE"
          title="YouTube video"

        ></iframe>
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center;color: rgb(255, 255, 255);">نصائح مهمة لمرضى السكري</p>
      </div>
    </div>
    <div class="card border-success mb-3 " style="margin: 5px; width: auto;   background-color: rgb(56, 129, 151); border-radius: 10px;  box-shadow: 0px 0px 5px 0px; " >
      <div class="ratio ratio-16x8">
        <iframe style="border-radius: 10px;  box-shadow: 0px 0px 5px 0px; "
          src="https://www.youtube.com/embed/l-_1GNH4X-c"
          title="YouTube video"

        ></iframe>
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center;color: rgb(255, 255, 255);">نصائح للحامل في الشهر التاسع</p>

      </div>
    </div>
  </div>



</div>
