/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'droidKufi-bold';
  src: url('./assets/font/droidKufi-bold.ttf') format(truetype);
}

@font-face {
  font-family: 'DroidKufi-Regular';
  src: url('./assets/font/DroidKufi-Regular.ttf') format(truetype);
}
body{
  font-family:'DroidKufi-Regular' ;
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.ar{
  direction: rtl;
  text-align: right;

}
/* body{
  line-height: .5;
} */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
